<div class="card flex justify-content-center">
  <p-card header="Sign in" subheader="Card Subheader" [style]="{ width: '36rem' }">
    <div class="card p-fluid">
      <form [formGroup]="formGroup">


        <p-password formControlName="password" [toggleMask]="true" inputId="password"></p-password>
      </form>
    </div>
    <div class="card flex justify-content-center">

    </div>
    <ng-template pTemplate="footer">
      <p-button label="Save" icon="pi pi-check"></p-button>
    </ng-template>
  </p-card>
</div>
